{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>KAB Health Hub</title>
    {% endif %}
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static "hub/css/style-starter.css" %}">
</head>

<body>
    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark stroke">
                <h1>
                    <a class="navbar-brand" href="index.html">
                        <img src="{% static 'hub/images/logo.png' %}" alt="" style="width: 56px; margin: 0;">
                      Health Hub</a>
                </h1>
                <!-- if logo is image enable this   
          <a class="navbar-brand" href="#index.html">
              <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
          </a> -->
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item">
                            <a id="homeLink" class="nav-link" href="{% url "home" %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "about" %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "news" %}">News</a>
                        </li>
                        <li class="nav-item mr-lg-1">
                            <a class="nav-link" href="{% url "contact" %}">Contact</a>
                        </li>
                        <script>
                            const showActive = () =>{
                      
                                const activePage = window.location.pathname;
                                const myLinks = document.querySelectorAll('.nav-item a');
                                const home = document.getElementById('homeLink');
                    
                                
                                myLinks.forEach(link => {
                                    if (link.href.includes(activePage)) {
                                    if (activePage.length === 1){
                                        home.classList.add('active')
                                        home.style.color = 'red';
                                    }
                                    else{
                                        link.parentElement.classList.add('active')
                                        link.style.color = 'red';
                                    }
                                    
                                    }
                                    else{
                                    link.classList.add('active');
                                    }
                                });

                                // console.log(myLinks)
                    
                            }
                    
                            showActive();    
                        </script>
                         <!--/search-right-->
                            <li class="header-search mr-lg-2 mt-lg-0 mt-4 position-relative">
                                <div class="search-right">
                                    <a href="#search" class="btn btn-style search-btn" title="search"><span
                                            class="fas fa-search mr-2" aria-hidden="true"></span> Search</a>
                                  
                                </div>
                            </li>
                            <!--//search-right-->
                    </ul>
                </div>
               

                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container py-1">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>

        </div>
    </header>
    <!--/header-->

    {% block content %}
    
    {% endblock content %}

     
    <!--/footer-->
    <section class="footer-29-main">
        <div class="footer-29 py-5">
            <div class="container py-lg-3">
                <div class="row footer-top-29">
                    <div class="col-lg-3 col-sm-6 footer-list-29 footer-2 mt-lg-0 mt-md-5 mt-4">
                        <ul>
                            <h6 class="footer-title-29">Our Info</h6>
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="{% url 'news' %}">News</a></li>
                           
                            <li><a href="{% url 'about' %}">Team</a></li>
                            <li><a href="{% url 'contact' %}">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6 footer-list-29 footer-2 mt-lg-0 mt-md-5 mt-4">
                        <h6 class="footer-title-29">Quick Links</h6>
                        <ul>
                            <li><a href="#syn">Symptoms</a></li>
                        
                            <li><a href="#vention">Prevention</a></li>
                            <li><a href="#protect">Protect Youself</a></li>
                            <li><a href="#our">Our Doctors</a></li>
                            <li><a href="#pack">About Aids</a></li>
                            
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6 footer-list-29 footer-2 mt-lg-0 mt-md-5 mt-4">
                        <h6 class="footer-title-29">Helpfull links</h6>
                        <ul>
                            <li><a href="#terms">Terms of service</a></li>
                            <li><a href="#privacy"> Privacy policy</a></li>
                            <li><a href="#doc"> Documentation</a></li>
                            <li><a href="#support"> Support</a></li>
                            <li><a href="#changelog"> Changelog</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6 footer-list-29 footer-2 mt-lg-0 mt-md-5 mt-4">
                        <div class="footer-logo mb-3">
                            <h2>
                                <a class="navbar-brand" href="index.html">
                                    Kab Health Hub</a>
                            </h2>
                        </div>
                        <p>To create more awareness, educate and prevent</p>

                        <div class="cont-details">
                            <div class="cont-top margin-up">
                              <div class="cont-left text-center">
                                <span class="fas fa-map-marked-alt"></span>
                              </div>
                              <div class="cont-right">
                                <p> {{address.address}}</p>
                              </div>
                            </div>
                            <div class="cont-top margin-up">
                              <div class="cont-left text-center">
                                <span class="fas fa-blender-phone"></span>
                              </div>
                              <div class="cont-right">
                                <p><a href="tel:+(21) 255 999 8888"> {{address.contact_phone}}</a></p>
                              </div>
                            </div>
                            <div class="cont-top margin-up">
                              <div class="cont-left text-center">
                                <span class="fas fa-envelope-open-text"></span>
                              </div>
                              <div class="cont-right">
                                <p><a href="mailto:{{address.contact_mail}}" class="mail">
                                    {{address.contact_mail}}</a></p>
                              </div>
                            </div>
                          </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //footer -->
    <!-- copyright -->
    <section class="copyright">
        <div class="container">
            <div class="row bottom-copies">
                <p class="col-lg-8 copy-footer-29">© {% now "Y" %} K&B Health Hub. All rights reserved. Developed by<a
                        href="#" target="_blank">
                        primU</a></p>
                  <div class="col-lg-4 main-social-footer-29">
                    <a href="#facebook" class="facebook"><span class="fab fa-facebook-f"></span></a>
                    <a href="#twitter" class="twitter"><span class="fab fa-twitter"></span></a>
                    <a href="#pinterest"><span class="fab fa-pinterest-p"></span></a>
                    <a href="#instagram" class="instagram"><span class="fab fa-instagram"></span></a>
                 
                  </div>
            </div>
        </div>
        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <i class="fas fa-level-up-alt"></i>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- /move top -->
    </section>
    <!-- //copyright -->
    <!--//footer-->
    <!-- Template JavaScript -->
    <script src="{% static 'hub/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'hub/js/theme-change.js' %}"></script>
    
    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- disable body scroll which navbar is in active -->

    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>

    
    
      
    <!--//MENU-JS-->
    <script src="{% static 'hub/js/bootstrap.min.js' %}"></script>

</body>

</html>