{% extends "hub/base.html" %}

{% block content %}
  <!-- breadcrumb -->
<section class="about-breadcrumb text-center">
  <div class="breadcrumb-bg breadcrumb-bg-about py-5">
      <div class="container py-lg-5 py-md-4">
        <div class="w3breadcrumb-gids">
          <div class="w3breadcrumb-left text-left">
                    <h2 class="title AboutPageBanner">
                  News   </h2>
                              <p class="inner-page-para mt-2">
                                Prevent the Spread
                                Stay at Home, Stay Safe             </p>
          </div>
          <div class="w3breadcrumb-right">
                <ul class="breadcrumbs-custom-path">
                  <li><a href="index.html">Home</a></li>
                  <li class="active"><span class="fas fa-angle-double-right mx-2"></span>News</li>
                </ul>
          </div>
    </div>
      </div>
      <div class="hero-overlay"></div>
  </div>
</section>
<!--//breadcrumb-->
<!--/aboutblock1-->
  <section class="aboutblock1" id="about">
    <div class="midd-w3 py-5">
      <div class="container py-lg-5 py-md-4 py-2">

        {% for news in all_news %}
          <div class="row" style="margin: 10% 0;">
            <div class="col-lg-6 left-wthree-img pr-lg-5">
              <div class="position-relative">
                <img src="{{news.image.url}}"
                  alt="" class="img-fluid radius-image">
                </div>
              </div>
            <div class="col-lg-6 mt-lg-0 mt-5 about-right-faq align-self">
              <a href="{% url 'news_detail' news.title news.id %}"><h3 class="title-w3l">{{news.title}}</h3></a>
              <p class="mt-4">{{news.headline}}</p>
              <small style="color: #000000;"> Posted: {{news.date_posted | timesince}} ago</small>
                <br>
                <a href="{% url "news_detail" news.title news.id %}">Read More </a>
            </div>
          </div>
        {% endfor %}
        
      </div>
    </div>
  </section>

{% endblock content %}